<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Użytkowników</title>
</head>
<body>
    <h1>Lista Użytkowników</h1>
    <p th:text="|Użytkownik: ${data.login}|"></p>
    <nav>
        <a th:href="@{/logout}">Wyloguj</a>
        <a th:href="@{/actuator}">Actuator</a>
        <a th:href="@{/actuator/info}">Actuator info</a>
        <a th:href="@{/websocket}">WebSocket</a>
        <a th:href="@{/addActivity}">Dodanie aktywności</a>
        <p>Endpointy API:</p>
        <a th:href="@{/api/all_activities}">/api/all_activities</a>
        <a th:href="@{/api/activities}">/api/activities</a>
        <a th:href="@{/api/activities/add}">/api/activities/add</a>
    </nav>
    <hr>
        <ul>
            <li>
                Wersja JDK: <span th:text="${jdkVersion}"></span>
            </li>
            <li>    
                Wersja Spring Boot: <span th:text="${springBootVersion}"></span>
            </li>
            <li>
                Nazwa aplikacji: <span th:text="${applicationName}"></span>
            </li>
            <li>
                Wersja builda: <span th:text="${buildVersion}"></span>
            </li>
            <li>
                Czas kompilacji: <span th:text="${buildTimestamp}"></span>
            </li>
        </ul>
    <hr>
    <p th:if="${data.activities.size() == 0}">Brak aktywności w bazie danych</p>
    <table th:if="${data.activities.size() > 0}">
        <thead>
            <tr>
                <th>Nazwa aktywności</th>
                <th>Opis</th>
                <th>Czas rozpoczęcia</th>
                <th>Czas trwania</th>
                <th>Data</th>
                <th>Opcje</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="activity : ${data.activities}">
                <td th:text="${activity.activity_name}"></td>
                <td th:text="${activity.activity_description}"></td>
                <td th:text="${activity.start_time}"></td>
                <td th:text="${activity.time}"></td>
                <td th:text="${#dates.format(activity.date, 'dd-MM-yyyy')}"></td>
                <td>
                    <form th:action="@{/delete/{id}(id=${activity.id})}" method="post"><input type="submit" value="Usuń"></form>
                    <form th:action="@{/edit/{id}(id=${activity.id})}" method="get"><input type="submit" value="Edytuj"></form>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <p>Liczba odczytów z bazy danych w trakcie sesji: <span th:text="${counter}"></span></p>
</body>
</html>