<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" th:src="@{/functionsWebSockets.js}"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <title>WebSocket</title>
</head>
<body>
    <nav>
        <a th:href="@{/}">Strona główna</a>
    </nav>
    <hr>
    <div>
        <form action="">
            <input type="button" onclick="doSend(messageTextID.value)" value="Wyślij"></br>
            <input type="text" id="messageTextID" name="messageText" value="Hello WebSocket!"></br>
            <input type="text" id="messageStatusID" name="messageStatus" value="..." size="60">
        </form>

        <h2 style="text-align: center;">Wykres na podstawie danych WebSocket/JSON</h2></br>
        <div style="text-align: center;">
            <div id="chartContainer" style="height: 300px; width: 50%;"></div>
        </div>
    </div>
</body>
</html>